.default {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.control {
    display: block;
    z-index: 1;
    position: fixed;
    right: 14px;
    top: 13px;
    cursor: pointer;
    transition: top 0.4s linear 0s;
}

.head {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.cover {
    height: 220px;
    width: 220px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    z-index: 1;
    right: 0px;
    top: 0px;
    position: absolute;
    transition: height 0.3s linear 0s, width 0.3s linear 0s, right 0.3s linear 0s, top 0.3s linear 0s;
}

.cover:hover {
    height: 224px;
    width: 224px;
    right: -2px;
    top: -2px;
    transition: height 0.3s linear 0s, width 0.3s linear 0s, right 0.3s linear 0s, top 0.3s linear 0s;
}

.bar {
    width: 28px;
    height: 5px;
    background-color: white;;
    margin: 3px 0;
}

.background {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

h2 {
    color: white;
    font-size: 70px;
}

p {
    color: white;
    line-height: 24px;
}

.nav {
    top: -38px;
    z-index: 90;
    position: fixed;
    width: 100vw;
    background-color: #13C4A3;
    transition: top 0.3s linear 0s, background-color 0.4s ease-in 0.1s;
}

.nav:hover {
    top: 0;
    background-color: #32322C;
    transition: top 0.5s linear 0s;
}

ul {
    display: block;
    max-width: 100%;
    text-align: right;
    list-style-type: none;
    font-size: 13px;
}

li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 11px 35px;
    transition: background-color 0.25s linear 0s;
}

li:hover {
    background-color: #36F1CD;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}